<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
	<meta charset="UTF-8"></meta>
	<title>Music List</title>
	<!-- 사용자 CSS 추가 -->
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"></link>
	</th:block>
	 
	<!-- 사용자 스크립트 추가 -->
	<th:block layout:fragment="script">
		<script type="text/javascript" th:src="@{/js/music/musicWrite.js}"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
		
	</th:block>
</head>
<body>
	
		<div layout:fragment="content" >
			<div th:if="${session.loginId == 'dev'}">
				<div>
					<label for="songTitle">제목</label>
				  <input type="text" id="songTitle"/>
				  <br/>
				  <label for="singer">가수</label>
				  <input type="text" id="singer"/>
				  <br/>
				  <label for="albumTitle">앨범</label>
				  <input type="text" id="albumTitle"/>
				  <br/>
				  <label for="releaseDate">앨범 발매일</label>
				  <input type="text" id="releaseDate"/>
				  <br/>
				  <label for="genre">장르</label>
				  <select id="genre">
				  	<option>장르선택</option>
				  	<option>발라드</option>
				  	<option>댄스</option>
				  	<option>랩/힙합</option>
				  	<option>R&#38;B/Soul</option>
				  	<option>인디음악</option>
				  	<option>록/메탈</option>
				  	<option>트로트</option>
				  	<option>포크/블루스</option>
				  </select>
				  <br/>
				  <label for="singerType">타입</label>
				  <select id="singerType">
				  	<option>타입선택</option>
				  	<option>여성솔로</option>
				  	<option>남성솔로</option>
				  	<option>여성그룹</option>
				  	<option>남성그룹</option>
				  	<option>혼성그룹</option>
				  </select>
				  <br/>
				  <button type="button" id="musicWriteBtn" onclick="musicCreate()">등록</button>
			  </div>
		  </div>
		  <div th:if="${session.loginId != 'dev'}">
				<p>접근 권한이 없습니다.</p>
			</div>
		</div>
	
</body>
</html>